POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=aegis
POSTGRES_PASSWORD=aegis_secret
POSTGRES_DB=aegis_db

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
CACHE_TTL_SECONDS=30

DEBUG=false
ANOMALY_THRESHOLD=0.0
ISOLATION_FOREST_CONTAMINATION=0.08